---
import MainLayout from "../layouts/MainLayout.astro";
import { Whatsapp } from "simple-icons-astro";

import { Image } from "astro:assets";
import Banner1 from "../assets/banner_1.jpg";
import Banner2 from "../assets/banner_2.jpg";
import Banner3 from "../assets/banner_3.jpg";
import Banner4 from "../assets/banner_4.jpg";
import Picks from "../assets/lock-pics.jpg";
---

<MainLayout
  title="Master Keys"
  seoTitle="Master Keys, locksmiths in and around Cape Town"
  seoDesc="Master Keys is a well established locksmith company in Cape Town, we cut keys, open cars, install locks, and more."
>
  <section class="p-6 bg-gray-900">
    <div id="default-carousel" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Image
            src={Banner1}
            class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width={600}
            height={500}
            loading="eager"
            alt="Master Keys, banner"
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Image
            src={Banner2}
            class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width={600}
            height={500}
            loading="eager"
            alt="Lost your car keys? Banner"
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Image
            src={Banner3}
            class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width={600}
            height={500}
            loading="eager"
            alt="Master Keys, banner"
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Image
            src={Banner4}
            class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width={600}
            height={500}
            loading="eager"
            alt="Extreme mobile, banner"
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <Image
            src={Picks}
            class="absolute block -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2"
            width={600}
            height={500}
            loading="eager"
            alt="Lock pick set"
          />
        </div>
      </div>
      <!-- Slider indicators -->
      <div
        class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse"
      >
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="true"
          aria-label="Slide 1"
          data-carousel-slide-to="0"></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 2"
          data-carousel-slide-to="1"></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 3"
          data-carousel-slide-to="2"></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 4"
          data-carousel-slide-to="3"></button>
        <button
          type="button"
          class="w-3 h-3 rounded-full"
          aria-current="false"
          aria-label="Slide 5"
          data-carousel-slide-to="4"></button>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button
        type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none"
        >
          <svg
            class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </section>
  <main class="flex flex-col md:flex-row items-center relative">
    <div
      class="flex flex-col justify-center items-center -skew-x-6 md:-skew-x-12 absolute left-7 w-4/5 md:w-1/2 md:ml-16 h-full text-gray-100 bg-slate-900"
    >
      <h1 class="text-6xl px-4 text-blue-400">
        MASTER KEYS, securing your world.
      </h1>
      <h2 class="text-4xl pt-8 pb-5">Get in touch with us</h2>
      <div class="flex flex-col gap-4">
        <div>
          <h3 class="text-2xl text-blue-400">Emergency numbers</h3>
          <p class="text-xl">083 258 7682</p>
          <p class="text-xl">083 281 0185</p>
        </div>
        <hr class="h-px my-4 bg-green-500 border-2 dark:bg-gray-700" />
        <div>
          <p class="text-2xl text-blue-400">Goodwood</p>
          <p class="text-xl">021 591 1216</p>
          <p class="text-xl text-white">
            083 508 0331
            <Whatsapp class="w-8 h-8 text-green-600 inline" />
          </p>
        </div>
        <div>
          <p class="text-2xl text-blue-400">Cape Town CBD</p>
          <p class="text-xl">021 419 6880</p>
          <p class="text-xl text-white">brem@planetpastel.com</p>
        </div>
      </div>
    </div>
  </main>
</MainLayout>

<style>
  main {
    min-height: 100vh;
    background-image: url("../assets/abloy-sentry-padlock.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
</style>

<script src="flowbite/dist/flowbite.min.js"></script>
