---
import { Image } from "astro:assets";
import One from "../assets/IMG_001.jpg";
import Two from "../assets/IMG_002.jpg";
import Three from "../assets/IMG_003.jpg";
import Four from "../assets/IMG_004.jpg";
import Five from "../assets/IMG_005.jpg";
import Six from "../assets/IMG_006.jpg";
import Seven from "../assets/IMG_007.jpg";
import Eight from "../assets/IMG_008.jpg";
import Nine from "../assets/IMG_009.jpg";
import Ten from "../assets/IMG_010.jpg";
import Eleven from "../assets/IMG_011.jpg";
import Twelve from "../assets/IMG_012.jpg";
import Thirteen from "../assets/IMG_013.jpg";
import Fourteen from "../assets/IMG_014.jpg";
import Fifteen from "../assets/IMG_015.jpg";
import Sixteen from "../assets/IMG_016.jpg";
import Seventeen from "../assets/IMG_017.jpg";
import Eighteen from "../assets/IMG_018.jpg";
import Nineteen from "../assets/IMG_019.jpg";
import Twenty from "../assets/IMG_020.jpg";
import TwentyOne from "../assets/IMG_021.jpg";
import TwentyTwo from "../assets/IMG_022.jpg";
import TwentyThree from "../assets/IMG_023.jpg";
import TwentyFour from "../assets/IMG_024.jpg";
import TwentyFive from "../assets/IMG_025.jpg";
import TwentySix from "../assets/IMG_026.jpg";
import TwentySeven from "../assets/IMG_027.jpg";
import TwentyEight from "../assets/IMG_028.jpg";
import TwentyNine from "../assets/IMG_029.jpg";
import Thirty from "../assets/IMG_030.jpg";
import ThirtyOne from "../assets/IMG_031.jpg";
import ThirtyTwo from "../assets/IMG_032.jpg";
import ThirtyThree from "../assets/IMG_033.jpg";

const astraH = [
  {
    id: 1,
    imgUrl: One,
    alt: "Override key and half cylinder",
    title: "Locksmith services ",
  },
  {
    id: 2,
    imgUrl: Two,
    alt: "Honda motorbike key",
    title: "Car Key Coding",
  },
  {
    id: 3,
    imgUrl: Three,
    alt: "Blue remote ith a red button",
    title: "Signage",
  },
  {
    id: 4,
    imgUrl: Four,
    alt: "Two button sanji remote",
    title: "Stamps",
  },
  {
    id: 5,
    imgUrl: Five,
    alt: "Nickle Abloy cylinder",
    title: "Stamps",
  },
];

const audiTt = [
  {
    id: 6,
    imgUrl: Six,
    alt: "Nickle Abloy cylinder thumb turn",
    title: "Stamps",
  },
  {
    id: 7,
    imgUrl: Seven,
    alt: "Nickle Abloy cylinder",
    title: "Stamps",
  },
];

const a3 = [
  {
    id: 8,
    imgUrl: Eight,
    alt: "Nickle Abloy cylinder",
    title: "Stamps",
  },
  {
    id: 9,
    imgUrl: Nine,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 10,
    imgUrl: Ten,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 11,
    imgUrl: Eleven,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 12,
    imgUrl: Twelve,
    alt: "Chevy key casing",
    title: "Stamps",
  },
];

const a4Quattro = [
  {
    id: 13,
    imgUrl: Thirteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 14,
    imgUrl: Fourteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 15,
    imgUrl: Fifteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
];

const a4Remote = [
  {
    id: 16,
    imgUrl: Sixteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 17,
    imgUrl: Seventeen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 18,
    imgUrl: Eighteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 19,
    imgUrl: Nineteen,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 20,
    imgUrl: Twenty,
    alt: "Chevy key casing",
    title: "Stamps",
  },
];

const audiBladeRep = [
  {
    id: 21,
    imgUrl: TwentyOne,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 22,
    imgUrl: TwentyTwo,
    alt: "Chevy key casing",
    title: "Stamps",
  },
];

const bmw = [
  {
    id: 23,
    imgUrl: TwentyThree,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 24,
    imgUrl: TwentyFour,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 25,
    imgUrl: TwentyFive,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 26,
    imgUrl: TwentySix,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 27,
    imgUrl: TwentySeven,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 28,
    imgUrl: TwentyEight,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 29,
    imgUrl: TwentyNine,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 30,
    imgUrl: Thirty,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 31,
    imgUrl: ThirtyOne,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 32,
    imgUrl: ThirtyTwo,
    alt: "Chevy key casing",
    title: "Stamps",
  },
  {
    id: 33,
    imgUrl: ThirtyThree,
    alt: "Chevy key casing",
    title: "Stamps",
  },
];
---

<h2 class="text-4xl py-8">Astra H</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    astraH.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="eager"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">Audi TT</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    audiTt.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">Audi A3 spare key coding</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    a3.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">Audi A4 quatro spare key coding</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    a4Quattro.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">Audi A4 remote key coding</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    a4Remote.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">Audi broken key blade replace</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    audiBladeRep.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />
<h2 class="text-4xl py-8">BMW key coding</h2>
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {
    bmw.map((detail) => (
      <Image
        class="h-72 max-w-full rounded-lg"
        loading="lazy"
        decoding="async"
        width={500}
        height={500}
        format="webp"
        src={detail.imgUrl}
        alt={detail.alt}
      />
    ))
  }
</div>
<hr />

<style>
  h2 {
    color: rgb(7, 241, 7);
  }

  hr {
    margin: 2rem 0;
    border-bottom: 2px solid rgb(7, 241, 7);
  }
</style>
